.watchlist-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.msg {
    color: white;
    font-size: 20px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.movie-container {
    height: 330px;
    width: 170px;
    
    margin:10px;
}

.poster-container {
    overflow: hidden;
    position: relative;
    height: 250px;
}

.poster {
    height: 250px;
    animation: hoverPosterBack 0.5s ease;
    animation-fill-mode: backwards;
    cursor: pointer;
}

.poster-button-container {
    position: relative;
    top: -175px;
    left: 65px;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

.poster-play-button-icon-container {
    padding: 0px;
    margin: 0px;
    width: 50px;
}

.poster-play-button-icon {
    padding: 0px;
    margin: 0px;
    color: gold;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}

.poster-remove-movie {
    z-index: 2;
    display: none;
    position: relative;
    top: -245px;
    left: 140px;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.poster-container:hover .poster {
    filter: brightness(0.8);
    animation: hoverPoster 0.5s ease;
    animation-fill-mode: forwards;
}

.poster-container:hover .poster-button-container {
    display: flex;
}

.poster-container:hover .poster-remove-movie {
    display: inline;
}

.movie-title {
    font-weight: 600;
    width: 150px;
}

.movie-attributes {
    width: inherit;
    margin-top: 10px;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

@keyframes hoverPoster {
    from {
        scale: 1;
        rotate: 0deg;
    }
    to {
        scale: 1.2;
        rotate: 10deg;
    }
}

@keyframes hoverPosterBack {
    from {
        scale: 1.2;
        rotate: 10deg;
    }
    to {
        scale: 1;
        rotate: 0deg;
    }
}